numpy==1.10.4
picklable-itertools==0.1.1
progressbar2==3.6.2
pyyaml==3.11
six==1.10.0
toolz==0.7.4

--allow-external theano
--allow-unverified theano
git+https://github.com/Theano/Theano.git@4b76348319c0b752c7af5c564e3e28d3135194cf#egg=theano
# release 0.8.0 21 Feb '16

--allow-external fuel
--allow-unverified fuel
git+git://github.com/mila-udem/fuel.git@2349d283f2c80c54b43b699a59a2f47dcb9860fe#egg=fuel
# stable v0.2.0 25 Jan '16

git+git://github.com/mila-udem/blocks.git@7beb788f1fcfc78d56c59a5edf9b4e8d98f8d7d9#egg=blocks
# stable v0.2.0 24 Feb '16

git+git://github.com/mila-udem/blocks-extras.git@4a3a6b56984ba2b8ed4d104b23899ac7142ca006

# For plotting
bokeh==0.10.0

# notebook
ipython[notebook]
mpld3